{% extends '_base.html' %}
{% load crispy_forms_tags %}

{% block title %}編輯個人資料{% endblock title %}

{% block content %}
<div class="container mt-4">
    <div class="row">
        <div class="col-md-8 offset-md-2">
            <h2 class="mb-4">編輯個人資料</h2>
            
            <div class="card">
                <div class="card-body">
                    <form method="post">
                        {% csrf_token %}
                        {{ form|crispy }}
                        <div class="d-grid gap-2">
                            <button class="btn btn-primary" type="submit">儲存變更</button>
                        </div>
                    </form>
                </div>
            </div>

            <div class="mt-4">
                <p>想要變更密碼嗎？ <a href="{% url 'account_change_password' %}">按此變更密碼</a>.</p>
            </div>
        </div>
    </div>
</div>
{% endblock content %}