{% extends '_base.html' %}

{% block title %}我的個人資料{% endblock %}

{% block content %}
  <h1>我的個人資料</h1>
  <p><strong>姓名:</strong> {{ user_profile.first_name }}</p>
  <p><strong>電子郵件:</strong> {{ user_profile.email }}</p>
  <p><strong>手機號碼:</strong> {{ user_profile.phone_number }}</p>
  <p><strong>性別:</strong> {{ user_profile.get_gender_display }}</p>
  <p><strong>國曆生日:</strong> {{ user_profile.gregorian_birth_date }}</p>
  <p><strong>國曆出生時間:</strong> {{ user_profile.gregorian_birth_time }}</p>
  <p><strong>農曆生日:</strong> {{ user_profile.lunar_birth_date }}</p>
  <p><strong>農曆時辰:</strong> {{ user_profile.lunar_birth_time }}</p>
  <p><strong>地址:</strong> {{ user_profile.address_zip_code }} {{ user_profile.address_county }} {{ user_profile.address_district }} {{ user_profile.address_detail }}</p>

  <a href="{% url 'user_profile_update' %}">編輯個人資料</a>
{% endblock %}
