{% extends '_base.html' %}
{% load crispy_forms_tags %}

{% block title %}編輯個人資料{% endblock title %}

{% block content %}
<div class="container mt-4">
    <div class="row">
        <div class="col-md-8 offset-md-2">
            <div class="card shadow-lg">
                <div class="card-header bg-primary text-white">
                    <h3 class="mb-0">
                        <i class="fas fa-user-edit me-2"></i>編輯個人資料
                    </h3>
                </div>
                <div class="card-body">
                    <p class="text-muted mb-4">更新您的個人資訊和地址資料。</p>
                    {% crispy form %}
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock content %}

{% block javascript %}
{% load static %}
{{ block.super }}
<script src="{% static 'js/form_utils.js' %}" defer></script>
{% endblock javascript %}